venv/
videos/
test codes/
output.mp4
__pycache__/
backend/__pycache__/
backend/.env
backend/venv/
backend/reports.csv
backend/main_temp.py
backend/stubs
backend/simulate_gpio.py
frontend/src/App_temp.jsx